:root {
    --app-color: #23527b;
    --bs-white: #fff;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-muted: #6c757d;
    --bs-warning: rgb(214, 150, 12);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

a {
    text-decoration: none;
}

ul>li {
    list-style: none;
}

.list-group-item {
    border: 1px solid #fff;
}

small {
    font-size: 60%;
}

.fs-5 {
    font-size: .75rem !important;
}

.fs-6 {
    font-size: .7rem !important;
}

.rounded-3 {
    border-radius: .5rem !important;
}

.rounded-4 {
    border-radius: 1.5rem !important
}

.product-star-rating li.list-inline-item:not(:last-child) {
    margin-right: 0 !important
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--bs-dark);
}

.nav-link {
    color: VAR(--bs-muted);
}

.action-buttons.d-flex {
    border-radius: 1.5rem;
}

.action-buttons button:focus,
.action-buttons button:hover {
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

.action-buttons button.btn.btn-sm.rounded-circle,
.action-buttons button.btn.btn-xs.rounded-circle {
    display: grid;
    border-radius: 50% !important;
}

.action-buttons button.btn.btn-sm.rounded-circle {
    height: 32px;
    width: 32px;
}

.action-buttons button.btn.btn-xs.rounded-circle {
    padding: 0 !important;
    height: 24px !important;
    width: 24px !important;
}

.action-buttons button.btn.btn-sm.rounded-circle>*,
.action-buttons button.btn.btn-xs.rounded-circle>* {
    margin: auto !important;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    color: rgba(255, 255, 255, .75);
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link.prod-variant {
    display: grid;
    height: 35px;
    width: 35px;
    border-radius: .3rem;
    font-size: .875rem;
    background-color: var(--bs-light);
    color: var(--bs-muted);
    margin: 0 .25rem;
    padding: 0;
}

.nav-underline .nav-link.prod-variant.active {
    background-color: var(--bs-warning);
    color: var(--bs-white);
}

.nav-underline .nav-link.prod-variant * {
    margin: auto;
}

.nav-underline .nav-link:hover {
    color: var(--bs-dark);
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}