:root {
    --app-color: #23527b;
    --bs-white: #fff;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-muted: #6c757d;
    --bs-warning: #f39c12;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

ul>li {
    list-style: none;
}

.list-group-item {
    border: 1px solid #fff;
}

.fs-5 {
    font-size: .9rem !important;
}

.form-control,
p,
.fs-6 {
    font-size: .8rem !important;
}

.form-check-label,
label,
small,
.fs-7 {
    font-size: 80%;
}

.bg-warning {
    background-color: var(--bs-warning) !important;
}

.rounded-3 {
    border-radius: .5rem !important;
}

.rounded-4 {
    border-radius: 1.5rem !important
}

.product-star-rating li.list-inline-item:not(:last-child) {
    margin-right: 0 !important
}

.tab-content,
.nav.nav-pills,
.tab-pane {
    width: 100% !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    background-color: var(--bs-dark);
}

.nav-link {
    color: VAR(--bs-muted);
}

.action-buttons.d-flex {
    border-radius: 1.5rem;
}

.action-buttons button:focus,
.action-buttons button:hover {
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

.action-buttons button.btn.btn-sm.rounded-circle,
.action-buttons button.btn.btn-xs.rounded-circle {
    display: grid;
    border-radius: 50% !important;
}

.action-buttons button.btn.btn-sm.rounded-circle {
    height: 32px;
    width: 32px;
}

.action-buttons button.btn.btn-xs.rounded-circle {
    padding: 0 !important;
    height: 24px !important;
    width: 24px !important;
}

.action-buttons button.btn.btn-sm.rounded-circle>*,
.action-buttons button.btn.btn-xs.rounded-circle>* {
    margin: auto !important;
}

.nav-scroller {
    position: relative;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
    background-color: var(--bs-muted);
    padding: .75rem;
    margin: .3rem;
    font-size: .6rem;
    color: var(--bs-dark);
    border-radius: .3rem;
}

.nav-underline .nav-link:hover,
.nav-underline .nav-link.active {
    background-color: var(--bs-warning);
    color: var(--bs-white);
}

.nav-underline .active {
    font-weight: 500;
    color: #343a40;
}

.rateyo {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.scan-bg {
    height: 40px;
    width: 40px;
}

.scan-bg>i {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Owl Carousels */

.owl-carousel {
    position: relative;
}

.owl-stage,
.owl-item {
    width: 320px !important;
}


/* /.Owl Carousel */

.step-indicator {
    position: relative;
}

.step-indicator:not(:last-child)::after {
    content: '';
    position: absolute;
    background-color: var(--bs-muted);
    height: 5px;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translateY(-50%, -30%);
    border-radius: .5rem;
    z-index: 0;
}

.step-indicator .step-button {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    background-color: var(--bs-muted);
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.step-indicator .step-button>i {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

.step-indicator span {
    color: var(--bs-muted);
}

.step-indicator.active::after {
    background-color: var(--bs-dark);
}

.step-indicator.active .step-button {
    background-color: var(--bs-dark);
}

.step-indicator.active span.ms-1 {
    color: var(--bs-dark);
}

.step-indicator.completed::after {
    background-color: var(--bs-success);
}

.step-indicator.completed .step-button {
    background-color: var(--bs-success);
}

.step-indicator.completed span.ms-1 {
    color: var(--bs-success);
}


/* /.Step-Progress Indicator */


/* Option Switches */

.option-switch,
.option-switch.nav-tabs {
    height: 40px !important;
    position: relative;
    background-color: transparent;
    border-radius: .3125rem;
}

.option-switch .toggle-option:hover,
.option-switch>li>.nav-link.active,
.option-switch.nav-tabs>li.nav-item>.nav-link.active,
.view-option.active {
    height: 40px !important;
    border-radius: .3125rem;
    color: var(--bs-dark) !important;
    background-color: var(--bs-white);
    box-shadow: 0 3px 6px 0 rgba(140, 152, 164, .25);
    border-bottom: none !important;
}

.option-switch.is-invalid {
    border: 1px solid var(--danger-warning);
}

.option-switch.is-valid .option-alert,
.option-switch.is-invalid .option-alert {
    display: block;
}

.option-switch.is-invalid .toggle-option.active *,
.option-switch.is-invalid .toggle-option:hover * {
    color: var(--bs-danger) !important;
}

.option-switch.is-valid {
    border: 1px solid var(--bs-success);
}

.option-switch.is-valid .toggle-option.active *,
.option-switch.is-valid .toggle-option:hover * {
    color: var(--bs-success) !important;
}

#one-money-tab {
    position: relative;
    height: 40px;
    width: 80px;
}

#one-money-tab>img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}


/* /.Option Switches */


/* Cart Badge */

.cart-badge {
    margin-top: -5px;
    right: -5px;
}


/* /.Cart Bage */

.tab {
    display: none;
}

@media(max-width: 576px) {
    .w-md-100 {
        width: 100% !important;
    }
}

@media(min-width: 576px) {
    .container {
        max-width: 370px !important;
    }
}